@model IEnumerable<SportsStore.Domain.Entities.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString","", new { @class = "form-control" } )
        <input type="submit" class="btn btn-default" value="Search" />
        <input type="submit" class="btn btn-default" value="Reset" id="btnClear" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>            
            @Html.ActionLink("Zip Code","Index",new {sortOrder = ViewBag.DateSortParm})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $(document).ready(function () {
        //Jquery is ready
        //alert("Jquery is loaded");
        //console.log("JQuery is ready. DOM loaded.");
        //Call startTime
        $('#btnClear').click(
            function() {
                //alert("button clicked");
                $('#SearchString').val("") ;
                return true;
            }
        );
    });


</script>
